body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Gerbera', sans-serif;
}
a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	-webkit-appearance:none;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active, a:focus {
  outline: 0;
  outline: none!important;
  border: none;
  -moz-outline-style: none;
}
a {
	display: inline-block;
	text-decoration: none;
}
a, input, button, img {
	transition: .3s all ease;
}


.wrapper {
	overflow: hidden;
	background: #F3F3F3;
}
.owl-drag {
    overflow: hidden;
}
.owl-item {
    float: left;
}
.owl-dots {
    display: none;
}

.for-after {
	position: relative;
	z-index: 2;
}
.block-after {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -10px;
	margin: auto;
	width: 93%;
	height: 100px;
	background: #F3F3F3;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
	z-index: 1;
}
.title h1 {
	font-size: 60px;
	line-height: 110%;
	color: #363636;
}
.title h2 {
	font-size: 40px;
	line-height: 40px;
	color: #363636;
}
.title h3 {
	font-size: 26px;
	line-height: 110%;
	color: #363636;
}


.left-menu {
	background: #5E419D;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	transition: .3s all ease;
	position: fixed;
	z-index: 1002;
	height: 100%;
}
.left-menu.minimized {
	max-width: 157px;
	width: 100%;
}
.left-menu .menu-opener {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.left-menu .menu-opener a {
	display: flex;
	flex-direction: column;
}
.left-menu .menu-opener a span {
	display: inline-block;
	height: 3px;
	width: 34px;
	border-radius: 3px;
	background-color: #fff;
	margin-bottom: 9px;
}
.left-menu .menu-opener a span.three {
	margin-bottom: 0;
}
/* /////// right help button ///////////////// */
.right-help {
	position: fixed;
	right: -61px;
	top: 390px;
	transform: rotate(-90deg);
}
.right-help a {
	display: flex;
	align-items: center;
	background: #5E419D;
	border-radius: 20px 20px 0px 0px;
	padding: 14px 18px 9px 14px;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
.right-help a img {
	margin-right: 13px;
}
/* /////// right help button ///////////////// */

header .head-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 35px 0;
	border-bottom: 1px solid rgba(54,54,54, .1);
}
header .head-btn a {
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	background: #A0C74F;
	border-radius: 5px;
	padding: 10px 17px;
}
header .head-num {
	display: flex;
	flex-direction: column;
}
header .head-num .tel {
	font-size: 16px;
	line-height: 19px;
	color: #363636;
	margin-bottom: 1px;
}
header .head-num .callback {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	color: #5E419D;
}
header .head-num .callback img {
	margin-right: 5px;
}

header .head-elements {
	display: flex;
	align-items: center;
}
header .head-elements a {
	margin-right: 15px;
}
header .head-elements a:last-child {
	margin-right: 0;
}
header .head-elements a:hover {
	transform: scale(1.1);
}

.main-sec {
	padding: 76px 0 0;
	background-image: url('../images/main-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.main-sec .main-rov {
	align-items: center;
}
.main-sec .main-left h1 {
	font-size: 60px;
	line-height: 110%;
	color: #363636;
}
.main-sec .main-right img {
	width: 100%;
}

.main-sec .main-item {
	background: #FFFFFF;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
	padding: 38px 36px 38px;
	position: relative;
	z-index: 2;
}
.main-sec .main-item .main-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
}
.main-sec .main-item .main-title h3 {
	font-size: 26px;
	line-height: 109.2%;
	color: #363636;
	width: 197px;
}
.main-sec .main-item .main-text {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.main-sec .main-item .main-text:last-child {
	margin-bottom: 0;
}
.main-sec .main-item .main-text img {
	margin-right: 15px;
}
.main-sec .main-item .main-text p {
	font-size: 16px;
	line-height: 140%;
	color: #363636;
}
/* ///////// */
.secondary-education {
	padding-top: 90px;
	background-image: url('../images/secondary-bg.svg');
	background-repeat: no-repeat;
	background-position: center top;
}
.secondary-education .title {
	margin-bottom: 50px;
}
.secondary-education .bread-location {
	margin-bottom: 20px;
}
.secondary-education .bread-location p,
.secondary-education .bread-location a,
.secondary-education .bread-location {
	display: flex;
	align-items: center;
}
.secondary-education .bread-location p {
	font-size: 17px;
	line-height: 20px;
	color: #363636;
}
.secondary-education .bread-location a {
	font-size: 17px;
	line-height: 20px;
	color: #363636;
	opacity: 0.3;
	margin-left: 37px;
}
.secondary-education .bread-location a:hover {
	opacity: 1;
}
.secondary-education .bread-location p img,
.secondary-education .bread-location a img {
	margin-right: 11px;
}

.secondary-education .educ-block {
	display: block;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
	position: relative;
	padding: 32px 28px 26px;
	height: 320px;
	margin-bottom: 20px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.secondary-education .educ-block:hover {
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.1);
}
.secondary-education .educ-block .educ-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 320px;
	object-fit: cover;
	border-radius: 30px;
}
.secondary-education .educ-block .educ-title {
	position: absolute;
	left: 28px;
	top: 32px;
}
.secondary-education .educ-block .educ-title h3 {
	width: 194px;
	font-size: 26px;
	line-height: 26px;
	color: #FFFFFF;
}
.secondary-education .educ-block .educ-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	left: 28px;
	bottom: 26px;
	padding-right: 30px;
}
.secondary-education .educ-block .educ-info span {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #363636;
	background: #FFFFFF;
	border-radius: 100px;
	padding: 6px 13px;
	margin: 10px 10px 0 0;
}
.secondary-education .educ-block .educ-icon {
	position: absolute;
	right: 25px;
	bottom: 26px;
}

.banner {
	display: flex;
	align-items: center;
	padding: 40px 0;
	background-color: #fff;
	border-radius: 30px;
	margin: 0;
	position: relative;
	z-index: 2;
}
.banner .banner-left {
	padding: 0 50px 0 55px;
	border-right: 1px solid rgba(54,54,54, .6);
}
.banner .banner-left h1 {
	font-size: 40px;
	line-height: 50px;
	color: #363636;
}
.banner .banner-left h1 span {
	color: #5E419D;
}
.banner .banner-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}
.banner .banner-right p {
	font-size: 17px;
	line-height: 20px;
	color: #363636;
	width: 335px;
}
.banner .banner-right a {
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	background: #5E419D;
	border-radius: 100px;
	padding: 10px 16px;
}

.index-news {
	padding-top: 118px;
}
.index-news .title {
	display: flex;
	align-items: center;
	margin-bottom: -30px;
}
.index-news .title a {
	margin-left: 20px;
	font-size: 15px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #363636;
	position: relative;
	z-index: 3;
}
.index-news .title a:hover {
	text-decoration: none;
}
.index-news .news-slide {
	padding: 60px 0 30px;
	position: relative;
}
/* ///////////// carousel navigation ////////////// */
.owl-nav {
	position: absolute;
	top: 0;
	right: 0;
}
.owl-nav button {
	background: transparent;
	border: none;
}
.index-news .in-news-block {
	background: #FFFFFF;
	border-radius: 30px;
	padding: 36px 30px;
	display: flex;
	align-items: flex-start;
}
.index-news .in-news-block .in-news-img {
	height: 250px;
	min-width: 250px;
	overflow: hidden;
	margin-right: 34px;
}
.index-news .in-news-block .in-news-img img {
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.index-news .in-news-block .in-news-right .in-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 50px;
}
.index-news .in-news-block .in-news-right .in-date p {
	font-size: 14px;
	line-height: 20px;
	color: #363636;
	opacity: .4;
}
.index-news .in-news-block .in-news-right .in-type span {
	display: inline-block;
	padding: 6px 15px 6px 27px;
	font-size: 14px;
	line-height: 20px;
	color: #A0C74F;
	background: rgba(160,199,79, .15);
	border-radius: 100px;
}
.index-news .in-news-block .in-news-right .in-body h3 {
	font-size: 26px;
	line-height: 26px;
	color: #363636;
	overflow: hidden;
	height: 52px;
	margin-bottom: 13px;
}
.index-news .in-news-block .in-news-right .in-body p {
	font-size: 17px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	margin-bottom: 13px;
	height: 69px;
	overflow: hidden;
}
.index-news .in-news-block .in-news-right .in-body a {
	font-size: 14px;
	line-height: 20px;
	color: #363636;
}
.index-news .in-news-block .in-news-right .in-body a:hover {
	color: #9c7edf;
}
/* /////////////////// */
.index-students {
	padding: 90px 0 120px;
}
.index-students > .container {
	position: relative;
}
.index-students .block-after {
	z-index: -1;
	width: 98%;
}
.index-students .title {
	margin-bottom: 34px;
}
.students-slide {
	padding: 60px 15px;
	background: #5E419D;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
}
.students-slide .students-item {
	text-align: center;
}
.students-slide .students-img {
	width: 196px;
	height: 262px;
	border-radius: 30px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.students-slide .students-item .play-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	margin: -16px auto 0;
    position: relative;
    z-index: 2;	
}
.students-slide .students-item .play-btn:hover {
	transform: scale(1.1);
}
.play-btn img {
	width: 32px;
	height: 32px;
}
.students-slide .students-img > img {
	width: 100%;
	height: 100%;
}
.students-slide .students-text {
	margin-top: 40px;
}
.students-slide .students-text h5 {
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.students-slide .students-text p {
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	opacity: 0.4;
}

.students-slide .slide-col {
	border-right: 1px solid rgba(255,255,255, .2);
	padding-left: 15px;
	padding-right: 15px;
}
.students-slide .owl-item.active:last-child .slide-col {
	border: none;
}
/* ///////////// */
.download-sec {
	padding-bottom: 130px;
}
.download-sec .block-after {
	z-index: -1;
	width: 98%;
}
.download-sec .qr-rov {	
	background: linear-gradient(90.24deg, #F3F3F3 0.19%, #FFFFFF 27.02%, #FFFFFF 72.16%, #F3F3F3 99.79%);
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
}
.download-sec .qr-rov > .row {
	border-radius: 30px;
	padding: 75px 30px 65px 130px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	background-image: url('../images/download-bg.png');
}
.download-sec .qr-left {
	text-align: right;
	padding-right: 50px;
}
.download-sec .qr-code {
	text-align: right;
	background: #FFFFFF;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 10px;
	padding: 31px;
	display: inline-block;
	margin-left: auto;	
}
.download-sec .download-text {
	width: 430px;
	padding-left: 40px;
}
.download-sec .download-text h2 {
	font-size: 40px;
	line-height: 38px;
	color: #363636;
	margin-bottom: 20px;
}
.download-sec .download-text p {
	font-size: 17px;
	line-height: 20px;
	color: #363636;
	opacity: 0.4;
} 
.download-sec .download-links {
	margin-top: 60px;
	display: flex;
	align-items: center;
}
.download-sec .download-links a {
	margin-right: 21px;
}
.download-sec .download-links a:hover {
	transform: scale(1.1);
}
.download-sec .download-links a:last-child {
	margin-right: 0;
}
/* //////////////////////////// */
.pl-0 {padding-left: 0;}

.result-search {
	padding-top: 100px;
}
.result-search .title h2 span {
	color: #5E419D;
}
.result-search .search-tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 60px 0;
}
.result-search .search-tags > a {
	margin-right: 20px;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #363636;
	padding: 14px 30px;
	background: #FFFFFF;
	border-radius: 30px;
}
.result-search .search-tags > a:hover,
.result-search .search-tags > a.active {
	background: #5E419D;
	color: #fff;
}

/* /// speciality slide /////////// */
.result-search .speciality-slide {
	position: relative;
	padding-bottom: 60px;
	border-bottom: 1px solid rgba(54, 54, 54, 0.1);
}
.result-search .owl-nav button {
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 100px;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #5E419D;
}
.result-search .owl-nav {
	display: flex;
	align-items: center;
}
.result-search .owl-nav button {
	padding: 0;
}
.result-search .owl-nav button.disabled {
	background: rgba(94,65,157, .1);
}
.result-search .owl-nav button.owl-prev {
	padding-right: 2px;
	margin-right: 8px;
}
.result-search .owl-nav button.owl-next {
	padding-left: 3px;
}
.result-search .owl-nav button span {
	display: flex;
	align-items: center;
	justify-content: center;
}
.result-search .owl-nav button.disabled span svg path {
	stroke: #5E419D;
}
.result-search .owl-nav button span svg path {
	stroke: #fff;
}
.result-search .speciality-block {
	display: block;
	border-radius: 30px;
	position: relative;
	padding: 32px 28px 26px;
	height: 320px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.result-search .speciality-block:hover {
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.1);
}
.result-search .speciality-block .speciality-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 320px;
	object-fit: cover;
	border-radius: 30px;
}
.result-search .speciality-block .speciality-title {
	position: absolute;
	left: 28px;
	top: 32px;
}
.result-search .speciality-block .speciality-title p {
	width: 194px;
	font-size: 26px;
	line-height: 26px;
	color: #FFFFFF;
}
.result-search .speciality-block .speciality-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	left: 28px;
	bottom: 26px;
	padding-right: 30px;
}
.result-search .speciality-block .speciality-info span {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	color: #363636;
	background: #FFFFFF;
	border-radius: 100px;
	padding: 6px 13px;
	margin: 10px 10px 0 0;
}
.result-search .speciality-block .speciality-info span.green {
	color: #fff;
	background: #A0C74F;
}
.result-search .speciality-block .speciality-info span img {
	margin-right: 8px;
}
.result-search .speciality-block .speciality-icon {
	position: absolute;
	right: 25px;
	bottom: 26px;
}
.result-search .title h3 {
	margin-bottom: 40px;
}
/* ///////////////////// */
.news-events {
	padding-top: 60px;
}
.news-events .title h3 {
	margin-bottom: 40px;
}
.news-events .event-con {
	position: relative;
}
.news-events .event-slide {
	padding-bottom: 80px;
}
.news-events .events-block {
	padding: 30px 20px;
	background: #fff;
	border-radius: 30px;
	display: flex;
	align-items: flex-start;
	height: 100%;
}
.news-events .events-block .event-img {
	height: 240px;
	min-width: 240px;
	border-radius: 30px;
	overflow: hidden;
	margin-right: 30px;
}
.news-events .events-block .event-img img {
	width: 100%;
	height: 100%;
}

.news-events .events-block .event-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 52px;
}
.news-events .events-block .event-top .e-date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.news-events .events-block .event-top .e-date span {
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
}
.news-events .events-block .event-top .e-tag {
	display: flex;
	align-items: center;
	position: relative;
}
.news-events .events-block .event-top .e-tag span {
	border: 1px solid rgba(54, 54, 54, 0.1);
	border-radius: 100px;
	position: relative;
	padding: 6px 13px 6px 27px;
	background: transparent;
	font-size: 13px;
	line-height: 18px;
	color: rgba(54, 54, 54, 0.5);
}
.news-events .events-block .event-top .e-tag:after {
	content: "";
	display: block;
	position: absolute;
	left: 13px;
	top: 44%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #6D81ED;
}

.news-events .events-block .event-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.news-events .events-block .event-title h3 {
	font-size: 26px;
	line-height: 110%;
	margin-bottom: 35px;
	color: #363636;
}
.news-events .events-block .event-text p {
	font-size: 16px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	height: 46px;
	overflow: hidden;
}
.news-events .events-block .event-link a {
	font-size: 16px;
	line-height: 20px;
	color: #363636;
	margin-top: 16px;
}

.news-events .owl-nav button {
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 100px;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #5E419D;
}
.news-events .owl-nav {
	display: flex;
	align-items: center;
}
.news-events .owl-nav button {
	padding: 0;
}
.news-events .owl-nav button.disabled {
	background: rgba(94,65,157, .1);
}
.news-events .owl-nav button.owl-prev {
	padding-right: 2px;
	margin-right: 8px;
}
.news-events .owl-nav button.owl-next {
	padding-left: 3px;
}
.news-events .owl-nav button span {
	display: flex;
	align-items: center;
	justify-content: center;
}
.news-events .owl-nav button.disabled span svg path {
	stroke: #5E419D;
}
.news-events .owl-nav button span svg path {
	stroke: #fff;
}
/* ////////////////// */
.result-other {
	padding-bottom: 100px;
}
.result-other .title {
	border-top: 1px solid rgba(54, 54, 54, 0.1);
	padding: 60px 0 40px;
}

.result-other .other-list .other-link {
	display: flex;
	align-items: flex-start;
	padding: 30px 50px;
	background: #F3F3F3;
	box-shadow: 8px 8px 30px rgba(0, 1, 45, 0.1);
	border-radius: 30px;
	margin-bottom: 20px;
}
.result-other .other-list .other-link:hover {
	background: #F9F9F9;
}
.result-other .other-list .other-link .list-num {
	width: 90px;
	margin-right: 20px;
}
.result-other .other-list .other-link .list-num span {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #363636;
}
.result-other .other-list .other-link .list-text {
	width: 764px;
}

.result-other .other-list .other-link .list-text h4 {
	height: 27px;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 23px;
	color: #363636;
}
.result-other .other-list .other-link .list-text p {
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
}
/* // */
.pagninton {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 20px;
}
.pagninton a {
	margin-right: 12px;
}
.pagninton a.pag-num {
	font-size: 12px;
	line-height: 14px;
	color: #363636;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	background: #FFFFFF;
}
.pagninton a.pag-num:hover {
	background: #5E419D;
	color: #fff
}
.pagninton a.pag-num.active {
	width: 40px;
	height: 40px;
	background: #5E419D;
	box-shadow: 8px 8px 30px rgba(0, 1, 45, 0.1);
	color: #fff;
}
.pagninton a:last-child {
	margin-right: 0;
}
/* ///////// breadcrumb ///////////// */
.bread-crumb {
	display: flex;
	align-items: center;
	margin: 100px 0 20px;
}
.bread-crumb a {
	font-size: 12px;
	line-height: 14px;
	color: rgba(54, 54, 54, 0.5);
}
.bread-crumb a:hover {
	color: rgba(54, 54, 54, 1);
}
.bread-crumb span {
	display: inline-block;
	width: 14px;
	height: 1px;
	margin: 0 8px;
	background: rgba(54, 54, 54, 0.5);
}
.bread-crumb p {
	font-size: 12px;
	line-height: 14px;
	color: #5E419D;
}
/* ///////// end breadcrumb //////////// */
.news-sec .title h1 {
	margin-bottom: 60px;
}
.news-sec .news-rov {
	margin-bottom: 60px;
}
.news-sec .news-datepicker .form-group {
	margin: 0;
	display: flex;
	align-items: flex-start;
}
.news-sec .news-datepicker .form-group input {
	background: #FFFFFF;
	border-radius: 100px;
	border: none;
	padding: 10px 20px;
	height: 40px;
	width: 295px;
}
.news-sec .news-datepicker .form-group button {
	background: #5E419D;
	border-radius: 100px;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	padding: 10px 18px;
	cursor: pointer;
	height: 40px;
	border: none;
	margin-left: 20px;
}
.news-sec .news-tags {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.news-sec .news-tags a {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	background: #FFFFFF;
	border-radius: 100px;
	padding: 6px 13px;
	margin-left: 8px;
}
.news-sec .news-tags a:hover {
	color: rgba(54, 54, 54, 1);
}
.news-sec .news-tags a:first-child {
	margin-left: 0;
}
.news-sec .news-tags a span {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-right: 9px;
}
span.purple {
	background: #5E419D;
}
span.green {
	background: #A0C74F;
}
span.blue {
	background: #6D81ED;
}
span.black {
	background: #363636;
}
span.gray {
	background: rgba(54, 54, 54, 0.5);
}
span.light-gray {
	background: rgba(94, 65, 157, 0.2);
}
/* ///////////// */
.news-sec .news-col {
	margin-bottom: 30px;
}
.news-sec .news-block {
	display: block;
	background: #FFFFFF;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
	padding: 32px;
}
.news-sec .news-block:hover {
	background: #F3F3F3;
	box-shadow: 16px 16px 40px rgba(31, 2, 89, 0.15);
}
.news-sec .news-block .news-img {
	height: 250px;
	margin-bottom: 25px;
}
.news-sec .news-block .news-img img {
	width: 100%;
	height: 100%;
}
.news-sec .news-block .news-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}
.news-sec .news-block .news-top .news-left p {
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
}
.info-tag {
	border: 1px solid rgba(54, 54, 54, 0.1);
	border-radius: 100px;
	padding: 6px 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
}
.dot {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-right: 9px;
}
.news-sec .news-block .news-in-title h3 {
	font-size: 24px;
	line-height: 110%;
	color: #363636;
	height: 58px;
	overflow: hidden;
	margin-bottom: 8px;
}
.news-sec .news-block .news-in-text p {
	font-size: 15px;
	line-height: 18px;
	color: rgba(54, 54, 54, 0.5);
	margin-bottom: 20px;
	height: 46px;
	overflow: hidden;
}
.news-sec .news-block .news-in-link {
	font-size: 14px;
	line-height: 20px;
	color: #5E419D;
	display: flex;
	align-items: center;
}
.news-sec .news-block .news-in-link span {
	margin-left: 8px;
}
/* /////////////////////// */

.news-sec .events-block {
	display: block;
	padding: 30px 20px;
	background: #fff;
	border-radius: 30px;
	display: flex;
	align-items: flex-start;
	height: 100%;
}
.news-sec .events-block:hover {
	background: #F3F3F3;
	box-shadow: 16px 16px 40px rgba(31, 2, 89, 0.15);
}
.news-sec .events-block .event-img {
	height: 240px;
	min-width: 240px;
	border-radius: 30px;
	overflow: hidden;
	margin-right: 30px;
}
.news-sec .events-block .event-img img {
	width: 100%;
	height: 100%;
}

.news-sec .events-block .event-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 52px;
}
.news-sec .events-block .event-top .e-date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.news-sec .events-block .event-top .e-date span {
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
}
.news-sec .events-block .event-top .e-tag {
	display: flex;
	align-items: center;
	position: relative;
}
.news-sec .events-block .event-top .e-tag span {
	border: 1px solid rgba(54, 54, 54, 0.1);
	border-radius: 100px;
	position: relative;
	padding: 6px 13px 6px 27px;
	background: transparent;
	font-size: 13px;
	line-height: 18px;
	color: rgba(54, 54, 54, 0.5);
}
.news-sec .events-block .event-top .e-tag:after {
	content: "";
	display: block;
	position: absolute;
	left: 13px;
	top: 44%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #6D81ED;
}

.news-sec .events-block .event-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.news-sec .events-block .event-title h3 {
	font-size: 26px;
	line-height: 110%;
	margin-bottom: 35px;
	color: #363636;
}
.news-sec .events-block .event-text p {
	font-size: 16px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	height: 46px;
	overflow: hidden;
}
.news-sec .events-block .event-link span {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	color: #363636;
	margin-top: 16px;
}
/* ///////////// new page ////////// */
.applicants-sec {
	background-image: url('../images/applicants-bg.svg');
	background-repeat: no-repeat;
	background-position: top;
}
.applicants-sec .title h1 {
	margin-bottom: 60px;
}
.applicants-sec .app-col {
	margin-bottom: 30px;
}
.applicants-sec .app-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 50px;
	background: #F3F3F3;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
	height: 100%;
}
.applicants-sec .app-block:hover {
	background: #fff;
}
.applicants-sec .app-block:hover h3 {
	color: #5E419D;
}
.applicants-sec .app-block h3 {
	font-size: 26px;
	line-height: 110%;
	color: #363636;
	width: 243px;
}
/* ///////// */
.applicants-rules {
	position: relative;
}
.applicants-rules .title h2 {
	line-height: 50px;
	margin-bottom: 120px;
}
.applicants-rules .block-after {
	width: 98%;
}
.applicants-rules .rules-rov {
	padding: 60px 50px;
	border-radius: 30px;
	background-image: url('../images/rules-bg.svg');
	background-repeat: no-repeat;
	background-position: right;
	background-color: #F3F3F3;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
	position: relative;
	z-index: 2;
}
.applicants-rules .rules-rov .rules-img {
	position: absolute;
	right: 100px;
	top: 90px;
}

.applicants-rules .rules-links {
	margin-bottom: 16px;
}
.applicants-rules .rules-links:last-child {
	margin-bottom: 0;
}
.applicants-rules .rules-links a {
	padding: 10px 18px;
	font-size: 14px;
	line-height: 16px;
	color: #5E419D;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #5E419D;
	border-radius: 100px;
	width: 320px;
}
.applicants-rules .rules-links a:hover {
	background: #5E419D;
	color: #fff;
}
.applicants-rules .rules-links a:hover span path {
	fill: #fff;
}
.applicants-rules .rules-links a span {
	display: flex;
}
/* ////////////// */
.question-form {
	padding: 97px 0 90px;
}
.question-form .block-after {
	width: 98%;
}
.question-form .form-rov {
	align-items: center;
}
.question-form .form-block {
	display: block;
	background: #FFFFFF;
	border-radius: 30px;
	padding: 48px 50px;
}
.question-form .form-left {
	padding: 0;
	position: relative;
}
.question-form .form-left:after {
	content: "";
	display: inline-block;
	position: absolute;
	right: -23px;
	top: 0;
	width: 1px;
	height: 86px;
	background: rgba(54, 54, 54, 0.1);
}
.question-form .form-left h2 {
	font-size: 40px;
	line-height: 50px;
	color: #363636;
	margin-bottom: 13px;
}
.question-form .form-left p {
	font-size: 16px;
	line-height: 18px;
	color: #363636;
}
.question-form .form-right {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0;
}
.question-form .form-right .form-group p {
	margin: 0 0 8px 20px;
	font-size: 12px;
	line-height: 14px;
	color: #5E419D;
}
.question-form .form-right .form-group input {
	background: #F3F3F3;
	border-radius: 100px;
	width: 255px;
	height: 40px;
	margin-right: 20px;
	padding: 10px 20px;
	border: none;
	transition: .3s all ease;
}
.question-form .form-right .form-group input::placeholder {
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	transition: .3s all ease;
}
.question-form .form-right .form-group input:hover::placeholder {
	color: rgba(54, 54, 54, 1);
}
.question-form .form-right .form-btn button {
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	background: #5E419D;
	border-radius: 100px;
	padding: 10px 18px;
	border: none;
	height: 40px;
}
/* ///////////// new page specialty ///////// */
.specialty-sec .title h1 {
	margin-bottom: 60px;
}
.specialty-sec .specialty-block {
	display: block;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
	position: relative;
	padding: 32px 28px 26px;
	height: 320px;
	margin-bottom: 20px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	transition: .3s all ease;
}
.specialty-sec .specialty-block:hover {
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.1);
	background: #5E419D;
}
.specialty-sec .specialty-block:hover .spec-img img {
	opacity: 0;
}
.specialty-sec .specialty-block .spec-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 320px;
	object-fit: cover;
	border-radius: 30px;
}
.specialty-sec .specialty-block .spec-title {
	position: absolute;
	left: 0;
	top: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 25px;
}
.specialty-sec .specialty-block .spec-title h3 {
	width: 194px;
	font-size: 26px;
	line-height: 26px;
	color: #FFFFFF;
}
.specialty-sec .specialty-block .spec-title span {
	display: block;
	text-align: right;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}
.specialty-sec .specialty-block .spec-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	left: 28px;
	bottom: 26px;
	padding-right: 30px;
}
.specialty-sec .specialty-block .spec-info span {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #363636;
	background: #FFFFFF;
	border-radius: 100px;
	padding: 6px 13px;
	margin: 10px 10px 0 0;
}
.specialty-sec .specialty-block .spec-icon {
	position: absolute;
	right: 25px;
	bottom: 26px;
}
/* // */
.dropdown-toggle::after{content: none;}
.specialty-sec .spec-filter {
	margin-bottom: 60px;
}
.specialty-sec .spec-filter form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.specialty-sec .spec-filter .dropdown {
	margin-right: 20px;
}
.specialty-sec .spec-filter .dropdown button {
	border:none;
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 293px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 100px;
	position: relative;
	z-index: 1001;
	box-shadow: 8px 8px 30px rgba(0, 1, 45, 0.1);
}
.specialty-sec .spec-filter .dropdown button.show span {
	transform: rotate(180deg);
}
.specialty-sec .spec-filter .dropdown button span {
	transition: .3s all ease;
}
.specialty-sec .spec-filter .dropdown .dropdown-menu {
	width: 100%;
	background: #FFFFFF;
	box-shadow: 8px 8px 30px rgba(0, 1, 45, 0.1);
	border-radius: 0px 0px 20px 20px;
	padding: 43px 0 20px;
	border: none;
}
.specialty-sec .spec-filter .dropdown .dropdown-menu.show {
	top: -23px !important;
}
.specialty-sec .spec-filter .dropdown .dropdown-menu .dropdown-item {
	font-size: 14px;
	line-height: 16px;
	color: #363636;
	padding: 0;
	margin: 0;
	padding: 5px 20px;
}
.specialty-sec .spec-filter .filter-btn button {
	height: 40px;
	background: #5E419D;
	border-radius: 100px;
	padding: 10px 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
/* // */
.specialty-sec .filter-result {
	width: 293px;
}
.specialty-sec .filter-result p {
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	margin-bottom: 12px;
}
.specialty-sec .filter-result .filter-tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.specialty-sec .filter-result .filter-tags a {
	display: inline-block;
	margin-right: 12px;
	height: 32px;
	padding: 6px 13px;
	background: #FFFFFF;
	border-radius: 100px;
	font-size: 14px;
	line-height: 20px;
	color: #363636;
}
.specialty-sec .filter-result .filter-tags a:hover,
.specialty-sec .filter-result .filter-tags a.active {
	background: #5E419D;
	color: #fff;
}
.specialty-sec .filter-result-btn button {
	border: none;
	border: 1px solid #5E419D;
	border-radius: 100px;
	height: 40px;
	background: transparent;
	font-size: 14px;
	line-height: 16px;
	color: #5E419D;
	padding: 10px 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 100px;
}
.specialty-sec .filter-result-btn button:hover {
	background: #5E419D;
	color: #fff;
}
.specialty-sec.filter-result-sec .spec-filter form {
	align-items: flex-end;
}
/* ///////////////// */
.seo-text-sec {
	padding: 120px 0 80px;
}
.seo-text-sec .seo-text h3 {
	margin-bottom: 20px;
	font-size: 26px;
	line-height: 110%;
	color: #363636;
}
.seo-text-sec .seo-text p {
	font-size: 17px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
}
.seo-text-sec .seo-text a {
	margin-top: 12px;
	font-size: 17px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	display: flex;
	align-items: center;
}
.seo-text-sec .seo-text a span {
	display: flex;
	margin-left: 8px;
	transition: .3s all ease;
}
.seo-text-sec .seo-text a:hover {
	color: rgba(54, 54, 54, 1);
}
.seo-text-sec .seo-text a.active span {
	transform: rotate(180deg);
}
/* ///////////////// qa section /////////////// */
.qa-sec .qa-tags {
	display: flex;
	align-items: center;
	margin: 60px 0 80px;
}
.qa-sec .qa-tags a {
	display: flex;
	align-items: center;
	background: #FFFFFF;
	border-radius: 100px;
	padding: 6px 13px;
	margin-right: 8px;
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
}
.qa-sec .qa-tags a span {
	display: flex;
}
.qa-sec .qa-tags a:hover,
.qa-sec .qa-tags a.active {
	color: #fff;
	background: #5E419D;
}
.qa-sec .qa-tags a:hover span,
.qa-sec .qa-tags a.active span {
	background: #fff;
}
.qa-sec .title h2 {
	margin-bottom: 40px;
}
.qa-sec .title.two h2 {
	margin-top: 60px;
}
.qa-sec .accordion-item {
	border: none;
	background: transparent;
	margin-bottom: 20px;
}
.qa-sec .accordion-flush .accordion-item .accordion-button:focus {
	box-shadow: none;
	outline: none;
}
.qa-sec .accordion-flush .accordion-item .accordion-button {
	background: #fff;
	border-radius: 30px 30px 0 0;
	padding: 30px 50px;
	box-shadow: none;
}
.qa-sec .accordion-flush .accordion-item .accordion-button.collapsed {
	border-radius: 30px;
	background: #F3F3F3;
	box-shadow: 8px 8px 30px rgba(0, 1, 45, 0.1);
}
.qa-sec .accordion-flush .accordion-item .accordion-button.collapsed:hover {
	background: #fff;
}
.qa-sec .accordion-flush .accordion-item .accordion-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.qa-sec .accordion-flush .accordion-item .accordion-button span.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	background: #A0C74F;
	border-radius: 50%;
	margin-left: 75px;
}
.qa-sec .accordion-flush .accordion-item .accordion-button.collapsed span.arrow {
	transform: rotate(0deg);
	background: #A0C74F;
}
.qa-sec .accordion-flush .accordion-item .accordion-button span.arrow {
	background: rgba(160, 199, 79, 0.1);
	transform: rotate(180deg);
}
.qa-sec .accordion-flush .accordion-item .accordion-button span.arrow svg path {
	stroke: #A0C74F;
}
.qa-sec .accordion-flush .accordion-item .accordion-button.collapsed span.arrow svg path {
	stroke: #fff;
}
.qa-sec .accordion-flush .accordion-collapse {
	background: #FFFFFF;
	border-radius: 0 0 30px 30px;
}
.qa-sec .accordion-body {
	padding: 0 50px;
}
.qa-sec .accordion-body .qa-in {
	padding: 16px 0 30px;
	width: 714px;
	border-top: 1px solid rgba(54, 54, 54, 0.1);
}
.qa-sec .accordion-button::after {
	content: none;
}
.qa-sec .accordion-flush .accordion-item .accordion-button > h3 {
	font-size: 26px;
	line-height: 110%;
	color: #363636;
	width: 714px;
}
.qa-sec .accordion-flush .accordion-item .accordion-button .qa-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.qa-sec .accordion-flush .accordion-item .accordion-button .qa-right > p {
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	padding: 6px 13px;
	border-radius: 100px;
	border: 1px solid transparent;
	background: #FFFFFF;
}
.qa-sec .accordion-flush .accordion-item .accordion-button:hover .qa-right > p,
.qa-sec .accordion-flush .accordion-item .accordion-button.active .qa-right > p {
	border-color: rgba(54, 54, 54, 0.1);
}

.qa-sec .accordion-body .qa-in p {
	font-size: 17px;
	line-height: 20px;
	color: #363636;
	margin-bottom: 16px;
}
.qa-sec .accordion-body .qa-in a {
	font-size: 14px;
	line-height: 20px;
	color: #5E419D;
	display: flex;
	align-items: center;
}
.qa-sec .accordion-body .qa-in a span {
	margin-left: 8px;
	display: flex;
}
/* ///////////// new page additional-education ///////// */
.additional-education .title h1 {
	margin-bottom: 60px;
}
.additional-education .additional-rov {
	margin-top: 40px;
}
.additional-education .additional-block {
	display: block;
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.06);
	border-radius: 30px;
	position: relative;
	padding: 32px 28px 26px;
	height: 320px;
	margin-bottom: 20px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
	transition: .3s all ease;
}
.additional-education .additional-block.large {
	height: 660px;
}
.additional-education .additional-block:hover {
	box-shadow: 16px 16px 65px rgba(31, 2, 89, 0.1);
	background: #5E419D;
}
.additional-education .additional-block:hover .add-img img {
	opacity: 0;
}
.additional-education .additional-block .add-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}
.additional-education .additional-block .add-title {
	position: absolute;
	left: 0;
	top: 32px;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 25px;
}
.additional-education .additional-block .add-title p {
	font-size: 26px;
	line-height: 26px;
	color: #FFFFFF;
}
.additional-education .additional-block .add-title span {
	display: block;
	margin-top: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	opacity: 0;
	transition: .5s all ease;
	height: 40px;
	overflow: hidden;
}
.additional-education .additional-block:hover .add-title span {
	opacity: 1;
}
.additional-education .additional-block .add-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	left: 28px;
	bottom: 26px;
	padding-right: 30px;
}
.additional-education .additional-block .add-info span {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	color: #363636;
	background: #FFFFFF;
	border-radius: 100px;
	padding: 6px 13px;
	margin: 10px 10px 0 0;
}
.additional-education .additional-block .add-info span.green {
	color: #fff;
	background: #A0C74F;
}
.additional-education .additional-block .add-info span svg {
	margin-right: 8px;
}
.additional-education .additional-block .add-info span svg path {
	transition: .3s all ease;
}
.additional-education .additional-block:hover .add-info span svg path {
	stroke: #fff;
}
.additional-education .additional-block:hover .add-info span.green svg path {
	stroke: #5E419D;
}
.additional-education .additional-block .add-icon {
	position: absolute;
	right: 25px;
	bottom: 26px;
}
.additional-education .additional-block:hover .add-info span {
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
}
.additional-education .additional-block:hover .add-info span.green {
	color: #5E419D;
	background: #fff;
}
/* // */
.additional-education .additional-filter {
	margin-bottom: 60px;
}
.additional-education .additional-filter form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.additional-education .additional-filter .form-group {	
	position: relative;
	margin-right: 20px;
}
.additional-education .additional-filter .form-group input {
	border:none;
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 1);
	padding: 10px 18px 10px 20px ;
	width: 260px;
	height: 40px;
	border-radius: 100px;
	z-index: 1001;
	box-shadow: 8px 8px 30px rgba(0, 1, 45, 0.1);
	background-color: #FFFFFF;
	background-image: url('../images/btn-search-icon.svg');
	background-repeat: no-repeat;
	background-position: center right 12px;
}
.additional-education .additional-filter .form-group input::placeholder {
	transition: .3s all ease;
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
}
.additional-education .additional-filter .form-group input:hover::placeholder {
	color: rgba(54, 54, 54, 1);
}
.additional-education .additional-filter .dropdown {
	margin-right: 20px;
}
.additional-education .additional-filter .dropdown button {
	border:none;
	font-size: 14px;
	line-height: 20px;
	color: rgba(54, 54, 54, 0.5);
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 260px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 100px;
	position: relative;
	z-index: 1001;
	box-shadow: 8px 8px 30px rgba(0, 1, 45, 0.1);
}
.additional-education .additional-filter .dropdown button.show span {
	transform: rotate(180deg);
}
.additional-education .additional-filter .dropdown button span {
	transition: .3s all ease;
	margin-left: 20px;
}
.additional-education .additional-filter .dropdown .dropdown-menu {
	width: 100%;
	min-width: 100%;
	background: #FFFFFF;
	box-shadow: 8px 8px 30px rgba(0, 1, 45, 0.1);
	border-radius: 0px 0px 20px 20px;
	padding: 43px 0 20px;
	border: none;
}
.additional-education .additional-filter .dropdown .dropdown-menu.show {
	top: -23px !important;
	transform: translate(0px, 42px) !important;
}
.additional-education .additional-filter .dropdown .dropdown-menu .dropdown-item {
	font-size: 14px;
	line-height: 16px;
	color: #363636;
	padding: 0;
	margin: 0;
	padding: 5px 20px;
}
.additional-education .additional-filter .filter-btn button {
	height: 40px;
	background: #5E419D;
	border-radius: 100px;
	padding: 10px 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
/* /// */
.additional-education .show-more {
	margin-top: 40px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}
.additional-education .show-more a {
	display: flex;
	align-items: center;
	padding: 10px 18px;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	background: #5E419D;
	border-radius: 100px;
}
.additional-education .show-more a img {
	margin-left: 12px;
}
.additional-education .show-more a:hover {
	transform: scale(1.05);
}
/* ///////////////// */








































/* //////////////////// */
footer {
	margin-bottom: 38px;
}
footer.index-ftr .row{
	background: #5E419D;
}
footer.index-ftr .ftr-address a,
footer.index-ftr .ftr-address p,
footer.index-ftr .copyright p,
footer.index-ftr .ftr-info .ftr-tel,
footer.index-ftr .ftr-info .ftr-callback,
footer.index-ftr .ftr-menu a {
	color: #fff;
}
footer .ftr-menu a:hover,
footer.index-ftr .ftr-menu a:hover {
	color: #9c7edf;
}
footer .block-after{
	width: 98%;
}
footer .row {
	padding: 30px 20px;
	border-radius: 30px;
	background: #fff;
}
footer .ftr-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
footer .ftr-menu a {
	font-size: 14px;
	line-height: 20px;
	color: #363636;
	margin-bottom: 9px;
}


footer .ftr-menu a:last-child {
	margin-bottom: 0;
}
footer .ftr-info .ftr-tel {
	font-size: 16px;
	line-height: 19px;
	color: #363636;
	margin-bottom: 1px;
}

footer .ftr-info .ftr-callback {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	color: #363636;
}
footer .ftr-info .ftr-callback img {
	margin-right: 5px;
}
footer.index-ftr .ftr-button a {
	background: #fff;
	color: #363636;
}

footer .ftr-col-address {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 50px;
}
footer .ftr-address p {
	font-size: 14px;
	line-height: 16px;
	color: #363636;
	margin-bottom: 6px;
}
footer .ftr-address a {
	font-size: 14px;
	line-height: 16px;
	color: #363636;
}

footer .ftr-button {
	text-align: right;
}
footer .ftr-button a {
	background: #5E419D;
	border-radius: 100px;
	padding: 10px 18px;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
}
footer .ftr-button a img {
	margin-right: 8px;
}
footer .socials {
	text-align: right;
}
footer .socials .ftr-socials a {
	margin-left: 16px;
}
footer .ftr-end {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
footer .copyright {
	margin-top: 57px;
	padding-top: 24px;
	border-top: 1px solid rgba(255,255,255, .2);
}
footer .copyright {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer .copyright p {
	font-size: 14px;
	line-height: 160%;
	color: #363636;
}
footer .copyright a {
	font-size: 12px;
	line-height: 160%;
	letter-spacing: 0.01em;
	color: rgba(54, 54, 54, 0.5);
}
footer.index-ftr .copyright a {
	color: rgba(255,255,255, .3);
}
footer.index-ftr .copyright a:hover {
	color: rgba(255,255,255, 1 );
}



@media only screen and (max-width: 1600px){
	.left-menu.minimized {
		max-width: 70px;
	}
}



/*@media only screen and (max-width: 480px){}*/


